.content {
  @media screen and (max-width: 520px) {
    margin-top: 20px;
    padding: 15px;
    padding-top: 0px;

    border: 1px lightgray solid;
    border-radius: 10px;
    background-color: white;

    margin-left: 10px;
    margin-right: 10px;

    &__header {
      font-weight: bold;
      font-size: 18px;
      color: #202020;
    }

    &__box {
      margin-bottom: 20px;
      border: 1px lightgray solid;
      border-radius: 10px;
      padding: 20px;
      padding-top: 0px;
      padding-bottom: 0px;

      &-header {
        margin-bottom: 20px;
        border-bottom: 1px lightgray solid;
        padding-bottom: 10px;

        ul {
          display: flex;
          justify-content: space-between;
          list-style: none;
          padding: 0;
          margin-bottom: 5px;

          :first-child {
            font-size: 16px;
            font-weight: bold;
          }

          :last-child {
            font-weight: bold;
            width: 12px;
          }
        }

        p {
          margin: 0;
          margin-top: 5px;
          color: gray;
        }
      }

      &-body {
        margin-bottom: 20px;
        input {
          margin-right: 5px;
          accent-color: #83c7b4;
          color: white;
        }

        label {
          font-weight: bold;
          font-size: 16px;
          color: #202020;
        }

        p {
          margin: 0;
          margin-left: 27px;
          margin-top: 5px;
          color: gray;
        }
      }
    }

    &__box-two {
      margin-bottom: 20px;
      border: 1px lightgray solid;
      border-radius: 10px;
      padding: 20px;
      padding-top: 0px;
      padding-bottom: 10px;

      ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin-bottom: 5px;

        font-weight: bold;
        font-size: 16px;

        :last-child {
          width: 12px;
        }
      }

      p {
        margin: 0;
        margin-top: 5px;
        color: gray;
      }
    }

    &__box-three {
      margin-bottom: 20px;
      border: 1px lightgray solid;
      border-radius: 10px;
      padding: 20px;
      padding-top: 0px;
      padding-bottom: 10px;

      ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin-bottom: 5px;

        font-weight: bold;
        font-size: 16px;

        :last-child {
          width: 12px;
        }
      }

      p {
        margin: 0;
        margin-top: 5px;
        color: gray;
      }
    }
  }

  @media screen and (min-width: 520px) {
    margin-top: 20px;
    padding: 15px;
    padding-top: 0px;

    border: 1px lightgray solid;
    border-radius: 10px;
    background-color: white;

    margin-left: 25px;
    margin-right: 25px;

    &__header {
      font-weight: bold;
      font-size: 18px;
      color: #202020;
    }

    &__box {
      margin-bottom: 20px;
      border: 1px lightgray solid;
      border-radius: 10px;
      padding: 20px;
      padding-top: 0px;
      padding-bottom: 0px;

      &-header {
        margin-bottom: 20px;
        border-bottom: 1px lightgray solid;
        padding-bottom: 10px;

        ul {
          display: flex;
          justify-content: space-between;
          list-style: none;
          padding: 0;
          margin-bottom: 5px;

          :first-child {
            font-size: 16px;
            font-weight: bold;
          }

          :last-child {
            font-weight: bold;
            width: 12px;
          }
        }

        p {
          margin: 0;
          margin-top: 5px;
          color: gray;
        }
      }

      &-body {
        margin-bottom: 20px;
        input {
          margin-right: 5px;
          accent-color: #83c7b4;
          color: white;
        }

        label {
          font-weight: bold;
          font-size: 16px;
          color: #202020;
        }

        p {
          margin: 0;
          margin-left: 27px;
          margin-top: 5px;
          color: gray;
        }
      }
    }

    &__box-two {
      margin-bottom: 20px;
      border: 1px lightgray solid;
      border-radius: 10px;
      padding: 20px;
      padding-top: 0px;
      padding-bottom: 10px;

      ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin-bottom: 5px;

        font-weight: bold;
        font-size: 16px;

        :last-child {
          width: 12px;
        }
      }

      p {
        margin: 0;
        margin-top: 5px;
        color: gray;
      }
    }

    &__box-three {
      margin-bottom: 20px;
      border: 1px lightgray solid;
      border-radius: 10px;
      padding: 20px;
      padding-top: 0px;
      padding-bottom: 10px;

      ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin-bottom: 5px;

        font-weight: bold;
        font-size: 16px;

        :last-child {
          width: 12px;
        }
      }

      p {
        margin: 0;
        margin-top: 5px;
        color: gray;
      }
    }
  }

  @media screen and (min-width: 1185px) and (max-width: 2000px) {
    margin-top: 20px;
    border: 1px lightgray solid;
    padding: 15px;
    border-radius: 10px;
    background-color: white;

    &__header {
      font-weight: bold;
      font-size: 18px;
      color: #202020;
    }

    &__box {
      margin-bottom: 20px;
      border: 1px lightgray solid;
      border-radius: 10px;
      padding: 10px;
      padding-top: 0px;

      &-header {
        margin-bottom: 20px;
        border-bottom: 1px lightgray solid;
        padding-bottom: 10px;

        ul {
          display: flex;
          justify-content: space-between;
          list-style: none;
          padding: 0;
          margin-bottom: 5px;

          :first-child {
            font-size: 16px;
            font-weight: bold;
          }

          :last-child {
            font-weight: bold;
            width: 12px;
          }
        }

        p {
          margin: 0;
          margin-top: 5px;
          color: gray;
        }
      }

      &-body {
        margin-bottom: 20px;
        input {
          margin-right: 5px;
          accent-color: #83c7b4;
          color: white;
        }

        label {
          font-weight: bold;
          font-size: 16px;
          color: #202020;
        }

        p {
          margin: 0;
          margin-left: 27px;
          margin-top: 5px;
          color: gray;
        }
      }
    }

    &__box-two {
      margin-bottom: 20px;
      border: 1px lightgray solid;
      border-radius: 10px;
      padding: 10px;
      padding-top: 0px;

      ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin-bottom: 5px;

        font-weight: bold;
        font-size: 16px;

        :last-child {
          width: 12px;
        }
      }

      p {
        margin: 0;
        margin-top: 5px;
        color: gray;
      }
    }

    &__box-three {
      margin-bottom: 20px;
      border: 1px lightgray solid;
      border-radius: 10px;
      padding: 10px;
      padding-top: 0px;

      ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin-bottom: 5px;

        font-weight: bold;
        font-size: 16px;

        :last-child {
          width: 12px;
        }
      }

      p {
        margin: 0;
        margin-top: 5px;
        color: gray;
      }
    }
  }
}
