.note {
  @media screen and (max-width: 520px) {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;

    background-color: white;

    padding: 10px;
    border: 0.5px lightgray solid;
    border-radius: 10px;

    textarea {
      max-width: 95%;
      resize: none;
      border: 0.5px lightgray solid;
      border-radius: 10px;
      padding: 10px;
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      padding-top: 10px;

      button {
        width: 40%;
        height: 30px;
        background-color: white;
        color: #83c7b4;
        font-weight: bold;
        border: none;
        border: 2px #83c7b4 solid;
        border-radius: 10px;
      }

      &--save {
        background-color: #83c7b4 !important;
        color: white !important;
      }
    }
  }

  @media screen and (min-width: 520px) {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;

    background-color: white;

    padding: 3vw;
    padding-top: 0px;
    border: 0.5px lightgray solid;
    border-radius: 10px;

    p {
      font-size: 1.8vw;
    }

    textarea {
      width: 98%;
      resize: none;
      border: 0.5px lightgray solid;
      border-radius: 10px;
      padding: 10px;

      font-size: 14px;
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      padding-top: 10px;

      button {
        width: 15vw;
        height: 3.5vw;
        background-color: white;
        color: #83c7b4;
        font-weight: bold;
        border: none;
        border: 2px #83c7b4 solid;
        border-radius: 10px;
        font-size: 1.5vw;
      }

      &--save {
        background-color: #83c7b4 !important;
        color: white !important;
      }
    }
  }

  @media screen and (min-width: 1185px) and (max-width: 1600px) {
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    border: 0.5px lightgray solid;
    border-radius: 10px;
    margin-top: 0px;
    padding-top: 0px;

    p {
      font-size: 20px;
    }

    textarea {
      resize: none;
      border: 0.5px lightgray solid;
      border-radius: 10px;
      padding: 10px;

      font-size: 16px;
    }
    &__buttons {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;

      button {
        width: 20%;
        height: 40px;
        background-color: white;
        color: #83c7b4;
        font-weight: bold;
        border: none;
        border: 2px #83c7b4 solid;
        border-radius: 15px;
        font-size: 16px;
      }

      &--save {
        background-color: #83c7b4 !important;
        color: white !important;
      }
    }
  }
}
