.note {
  @media screen and (max-width: 460px) {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;

    background-color: white;

    padding: 10px;
    border: 0.5px lightgray solid;
    border-radius: 10px;

    textarea {
      width: 95%;
      resize: none;
      border: 0.5px lightgray solid;
      border-radius: 10px;
      padding: 10px;
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      padding-top: 10px;

      button {
        width: 40%;
        height: 30px;
        background-color: white;
        color: #83c7b4;
        font-weight: bold;
        border: none;
        border: 2px #83c7b4 solid;
        border-radius: 10px;
      }

      &--save {
        background-color: #83c7b4 !important;
        color: white !important;
      }
    }
  }
}
// background-color: white;
// margin-left: 50px;
// margin-right: 50px;
// padding: 20px;
// border: 0.5px lightgray solid;
// border-radius: 10px;

// textarea {
//   resize: none;
//   border: 0.5px lightgray solid;
//   border-radius: 10px;
//   padding: 10px;
// }
// &__buttons {
//   display: flex;
//   justify-content: space-between;
//   padding-top: 20px;

//   button {
//     width: 20%;
//     height: 40px;
//     background-color: white;
//     color: #83c7b4;
//     font-weight: bold;
//     border: none;
//     border: 2px #83c7b4 solid;
//     border-radius: 10px;
//   }

//   &--save {
//     background-color: #83c7b4 !important;
//     color: white !important;
//   }
// }
