.lessonpage {
  @media screen and (max-width: 520px) {
    padding: 10px;

    &__video {
      max-width: 100%;
      display: flex;
      justify-content: center;
    }

    .feedback {
      display: flex;
      justify-content: space-between;

      &__title {
        width: fit-content;

        font-weight: bold;
        margin: 0;
        margin-top: 15px;
        margin-bottom: 12px;
        font-size: 17px;
      }

      &__images {
        display: flex;
        gap: 15px;

        img {
          width: 18%;
        }
      }

      &__buttons {
        margin-top: 15px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        gap: 7px;

        &-download {
          font-size: 13px;

          a {
            color: #83c7b4;
            font-weight: bold;
          }

          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;

          border: 2px #83c7b4 solid;
          border-radius: 5px;
          height: 20px;
        }

        &-complete {
          font-size: 13px;
          background-color: #83c7b4;

          a {
            color: white;
            font-weight: bold;
          }

          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;

          border: 2px #83c7b4 solid;
          border-radius: 5px;
          height: 20px;
        }

        a {
          text-decoration: none;
        }

        img {
          width: 7%;
        }
      }
    }
  }

  @media screen and (min-width: 521px) {
    padding: 30px;

    &__video {
      max-width: 100%;
      display: flex;
      justify-content: center;
      border-radius: 3%;
    }

    .feedback {
      display: flex;
      justify-content: space-between;

      &__title {
        width: fit-content;

        font-weight: bold;
        margin: 0;
        margin-top: 2vw;
        margin-bottom: 12px;
        font-size: 2.7vw;
      }

      &__images {
        display: flex;
        gap: 4vw;

        img {
          width: 18%;
        }
      }

      &__buttons {
        margin-top: 3vw;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5vw;

        &-download {
          font-size: 2vw;

          a {
            color: #83c7b4;
            font-weight: bold;
          }

          display: flex;
          justify-content: center;
          align-items: center;
          gap: 2vw;

          border: 2px #83c7b4 solid;
          border-radius: 5vw;
          padding: 10px;
          height: 4vw;
        }

        &-complete {
          font-size: 2vw;
          background-color: #83c7b4;

          a {
            color: white;
            font-weight: bold;
          }

          display: flex;
          justify-content: center;
          align-items: center;
          gap: 2vw;

          border: 2px #83c7b4 solid;
          border-radius: 5vw;
          padding: 10px;
          height: 4vw;
        }

        a {
          text-decoration: none;
        }

        img {
          width: 1.5vw;
        }
      }
    }
  }

  @media screen and (min-width: 1185px) and (max-width: 1600px) {
    padding: 50px;
    position: relative;
    inherits: none;

    img {
      width: 100%;
      border-radius: 20px;
      display: flex;
      justify-content: center;
    }

    .feedback {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      &__title {
        width: fit-content;

        font-weight: bold;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 21px;
      }

      &__images {
        display: flex;
        gap: 25px;

        img {
          width: 20%;
        }
      }

      &__buttons {
        margin-top: 15px;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        &-download {
          font-size: 16px;

          a {
            color: #83c7b4;
            font-weight: bold;
          }

          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;

          border: 2px #83c7b4 solid;
          border-radius: 5px;
          height: 40px;
        }

        &-complete {
          font-size: 16px;
          background-color: #83c7b4;

          a {
            color: white;
            font-weight: bold;
          }

          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;

          border: 2px #83c7b4 solid;
          border-radius: 5px;
          height: 40px;
        }

        a {
          text-decoration: none;
        }

        img {
          width: 10%;
        }
      }
    }
  }
}
